In [5]:
import pandas

In [6]:
input_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/1)data_input/'
output_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/3)output/'

In [7]:
path = input_file_directory+"mef_huh7_interactome/All_interactions/mutants/"
path2 = output_file_directory+"/ATG7/MEF_HuH7/PPI/Cytoscape_for_tree/"

# MEF Mutants

## all interactions

In [24]:
df_inter_mefs_ori = pandas.read_csv(path+ 'mefs_all_interactions_mutants_cyto.csv', 
                                    sep = ";", decimal=',')
df_inter_mefs_ori.head()

,Bait,BaitBoolean,Prey,Gene,PreyGene,Spec,SpecSum,AvgSpec,NumReplicates,ctrlCounts,AvgP,MaxP,TopoAvgP,TopoMaxP,SaintScore,logOddsScore,FoldChange,BFDR
0,ATG7_2d522a,True,Q80TM9,Nisch,NISCH_MOUSE,12|12|10,34,11.33,3,1|2|2,0.98,1.00,0.98,1.00,0.98,3.23,6.80,0.0
1,ATG7_2d522e,True,Q8BH59,Slc25a12,CMC1_MOUSE,16|16|20,52,17.33,3,3|5|4,0.98,1.00,0.98,1.00,0.98,3.47,4.33,0.0
2,ATG7_1d522a,True,Q8R3R8,Gabarapl1,GBRL1_MOUSE,6|7|9,22,7.33,3,1|0|0,1.00,1.00,1.00,1.00,1.00,8.66,22.00,0.0
3,ATG7_1d522e,True,Q8R3R8,Gabarapl1,GBRL1_MOUSE,8|9|7,24,8.00,3,1|0|0,1.00,1.00,1.00,1.00,1.00,11.71,24.00,0.0
4,ATG7_1d522e,True,Q9CQY1,Atg12,ATG12_MOUSE,4|4|4,12,4.00,3,0|0|0,0.98,0.98,0.98,0.98,0.98,4.12,40.00,0.0

## To group them, D522A/E (not *,  it means del)

In [25]:
df_inter_mefs_ori['IsSTRING'] = "False"

df_inter_mefs_ori['Prot1'] = df_inter_mefs_ori['Bait']
df_inter_mefs_ori['Prot2'] = df_inter_mefs_ori['Gene']

df_inter_mefs = df_inter_mefs_ori[['Prot1' , 'Prot2', 'FoldChange', 'IsSTRING']]
df_inter_mefs.head()

         Prot1      Prot2  FoldChange IsSTRING
0  ATG7_2d522a      Nisch        6.80    False
1  ATG7_2d522e   Slc25a12        4.33    False
2  ATG7_1d522a  Gabarapl1       22.00    False
3  ATG7_1d522e  Gabarapl1       24.00    False
4  ATG7_1d522e      Atg12       40.00    False

In [26]:
df_inter_mefs_gr = df_inter_mefs.copy()

df_inter_mefs_gr['Prot1'].replace('ATG7_1d522a', 'ATG7(1)-D522*', inplace=True)
df_inter_mefs_gr['Prot1'].replace('ATG7_1d522e', 'ATG7(1)-D522*', inplace=True)

df_inter_mefs_gr['Prot2'].replace('ATG7_2d522a', 'ATG7(2)-D522*', inplace=True)
df_inter_mefs_gr['Prot2'].replace('ATG7_2d522e', 'ATG7(2)-D522*', inplace=True)

In [27]:
set(df_inter_mefs['Prot2'])

{'Acaa2',
 'Araf',
 'Atg12',
 'Ctgf',
 'Dnajb12',
 'Efemp2',
 'Gabarap',
 'Gabarapl1',
 'Hspb1',
 'Lox',
 'Maged1',
 'Nisch',
 'Pdgfra',
 'Pfkp',
 'Pgam5',
 'Poldip3',
 'Rchy1',
 'Rlim',
 'Sdf4',
 'Slc25a12',
 'Sqrdl',
 'Ubac2',
 'Yme1l1'}

## STRING data official knowledge

In [28]:
df_off = pandas.read_csv(path+ 'mefs_string_mutant_all_int_mouse.tsv', sep = "\t")
df_off.rename(columns={df_off.columns[0]: 'Prot1', df_off.columns[1]: 'Prot2'},inplace=True)
df_off = df_off[['Prot1', 'Prot2']]
df_off['IsSTRING'] = "True"
df_off.head()

    Prot1      Prot2 IsSTRING
0   Atg12  Gabarapl1     True
1    Ctgf        Lox     True
2  Efemp2        Lox     True
3     Lox     Pdgfra     True

In [31]:
df_final_gr = pandas.concat([df_inter_mefs_gr, df_off], axis=0)
df_final_gr

            Prot1      Prot2  FoldChange IsSTRING
0     ATG7_2d522a      Nisch        6.80    False
1     ATG7_2d522e   Slc25a12        4.33    False
2   ATG7(1)-D522*  Gabarapl1       22.00    False
3   ATG7(1)-D522*  Gabarapl1       24.00    False
4   ATG7(1)-D522*      Atg12       40.00    False
5   ATG7(1)-D522*    Gabarap       26.00    False
6     ATG7_2d522a    Dnajb12       21.00    False
7     ATG7_2d522e    Dnajb12       19.00    False
8     ATG7_2d522e       Pfkp       46.67    False
9     ATG7_2d522e       Araf       46.67    False
10    ATG7_2d522e      Pgam5       36.67    False
11    ATG7_2d522e      Rchy1       40.00    False
12    ATG7_2d522e       Rlim       40.00    False
13    ATG7_2d522a       Pfkp       36.67    False
14    ATG7_2d522e        Lox        7.67    False
15    ATG7_2d522e       Ctgf       33.33    False
16    ATG7_2d522e      Ubac2       33.33    False
17    ATG7_2d522e      Sqrdl        9.50    False
18    ATG7_2d522a     Yme1l1       13.00    False
19    ATG7_2d522e      Hspb1       14.00    False
20    ATG7_2d522a       Sdf4       36.67    False
21    ATG7_2d522a      Acaa2        6.50    False
22  ATG7(1)-D522*      Atg12       33.33    False
23  ATG7(1)-D522*    Gabarap       21.00    False
24    ATG7_2d522a     Maged1       33.33    False
25    ATG7_2d522e     Efemp2       33.33    False
26    ATG7_2d522a     Pdgfra       11.00    False
27  ATG7(1)-D522*    Poldip3        4.20    False
0           Atg12  Gabarapl1         NaN     True
1            Ctgf        Lox         NaN     True
2          Efemp2        Lox         NaN     True
3             Lox     Pdgfra         NaN     True

In [18]:
# df_final.to_csv(path2+'df_mutant_cytoscape_mefs_gr.csv',sep = ",")

## Sepration of A and E

In [30]:
df_inter_mefs.head()

         Prot1      Prot2  FoldChange IsSTRING
0  ATG7_2d522a      Nisch        6.80    False
1  ATG7_2d522e   Slc25a12        4.33    False
2  ATG7_1d522a  Gabarapl1       22.00    False
3  ATG7_1d522e  Gabarapl1       24.00    False
4  ATG7_1d522e      Atg12       40.00    False

In [32]:
df_inter_mefs = pandas.concat([df_inter_mefs, df_off], axis=0)
df_inter_mefs

          Prot1      Prot2  FoldChange IsSTRING
0   ATG7_2d522a      Nisch        6.80    False
1   ATG7_2d522e   Slc25a12        4.33    False
2   ATG7_1d522a  Gabarapl1       22.00    False
3   ATG7_1d522e  Gabarapl1       24.00    False
4   ATG7_1d522e      Atg12       40.00    False
5   ATG7_1d522e    Gabarap       26.00    False
6   ATG7_2d522a    Dnajb12       21.00    False
7   ATG7_2d522e    Dnajb12       19.00    False
8   ATG7_2d522e       Pfkp       46.67    False
9   ATG7_2d522e       Araf       46.67    False
10  ATG7_2d522e      Pgam5       36.67    False
11  ATG7_2d522e      Rchy1       40.00    False
12  ATG7_2d522e       Rlim       40.00    False
13  ATG7_2d522a       Pfkp       36.67    False
14  ATG7_2d522e        Lox        7.67    False
15  ATG7_2d522e       Ctgf       33.33    False
16  ATG7_2d522e      Ubac2       33.33    False
17  ATG7_2d522e      Sqrdl        9.50    False
18  ATG7_2d522a     Yme1l1       13.00    False
19  ATG7_2d522e      Hspb1       14.00    False
20  ATG7_2d522a       Sdf4       36.67    False
21  ATG7_2d522a      Acaa2        6.50    False
22  ATG7_1d522a      Atg12       33.33    False
23  ATG7_1d522a    Gabarap       21.00    False
24  ATG7_2d522a     Maged1       33.33    False
25  ATG7_2d522e     Efemp2       33.33    False
26  ATG7_2d522a     Pdgfra       11.00    False
27  ATG7_1d522e    Poldip3        4.20    False
0         Atg12  Gabarapl1         NaN     True
1          Ctgf        Lox         NaN     True
2        Efemp2        Lox         NaN     True
3           Lox     Pdgfra         NaN     True

In [55]:
MutA = df_inter_mefs[df_inter_mefs['Prot1'].str.endswith('d522a')]
MutE = df_inter_mefs[df_inter_mefs['Prot1'].str.endswith('d522e')]

df_inter_mefs_A = pandas.concat([MutA, df_off], axis=0)
df_inter_mefs_A.to_csv(path2+'df_mutant_cytoscape_mefs_D522A.csv',sep = ",")

df_inter_mefs_E = pandas.concat([MutE, df_off], axis=0)
df_inter_mefs_E.to_csv(path2+'df_mutant_cytoscape_mefs_D522E.csv',sep = ",")

In [54]:
df_inter_mefs_A

          Prot1      Prot2  FoldChange IsSTRING
0   ATG7_2d522a      Nisch        6.80    False
2   ATG7_1d522a  Gabarapl1       22.00    False
6   ATG7_2d522a    Dnajb12       21.00    False
13  ATG7_2d522a       Pfkp       36.67    False
18  ATG7_2d522a     Yme1l1       13.00    False
20  ATG7_2d522a       Sdf4       36.67    False
21  ATG7_2d522a      Acaa2        6.50    False
22  ATG7_1d522a      Atg12       33.33    False
23  ATG7_1d522a    Gabarap       21.00    False
24  ATG7_2d522a     Maged1       33.33    False
26  ATG7_2d522a     Pdgfra       11.00    False
0         Atg12  Gabarapl1         NaN     True
1          Ctgf        Lox         NaN     True
2        Efemp2        Lox         NaN     True
3           Lox     Pdgfra         NaN     True