In [1]:
import pandas

In [2]:
input_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/1)data_input/'
output_file_directory = '/Users/kja11/OneDrive - Háskóli Íslands/PhD ATG7/0 in_silico/Python/3)output/'

In [18]:
path = input_file_directory+"/cytoscape/isoforms/"
path2 = output_file_directory+"/ATG7/MEF_HuH7/PPI/Cytoscape_for_tree/"

# Huh7

## all interactions

In [6]:
df_inter_huh7_ori = pandas.read_csv(path+ 'huh7_all_interactions_both_iso_cyto.csv', sep = ",")
df_inter_huh7_ori.head()

,AvgP,AvgSpec,BaitBoolean,BFDR,ctrlCounts,FoldChange,interaction,logOddsScore,MaxP,name,...,PreyGene,SaintScore,selected,shared interaction,shared name,Spec,SpecSum,TopoAvgP,TopoMaxP,﻿Bait
0,0.83,2.67,True,0.04,0|0|0,26.67,interacts with,0.64,0.92,ATG7_2 (interacts with) NRBP1,...,NRBP_HUMAN,0.83,False,interacts with,ATG7_2 (interacts with) NRBP1,2|3|3,8,0.83,0.92,NaN
1,0.85,3.00,True,0.04,0|0|0,30.00,interacts with,0.64,0.99,ATG7_2 (interacts with) TMEM126A,...,T126A_HUMAN,0.85,False,interacts with,ATG7_2 (interacts with) TMEM126A,2|4|3,9,0.85,0.99,NaN
2,0.85,3.00,True,0.04,0|0|0,30.00,interacts with,0.64,0.99,ATG7_2 (interacts with) ARFGAP1,...,ARFG1_HUMAN,0.85,False,interacts with,ATG7_2 (interacts with) ARFGAP1,4|2|3,9,0.85,0.99,NaN
3,0.83,2.67,True,0.04,0|0|0,26.67,interacts with,0.64,0.92,ATG7_2 (interacts with) DHRS7B,...,DRS7B_HUMAN,0.83,False,interacts with,ATG7_2 (interacts with) DHRS7B,2|3|3,8,0.83,0.92,NaN
4,0.83,2.67,True,0.04,0|0|0,26.67,interacts with,0.64,0.92,ATG7_2 (interacts with) HK2,...,HXK2_HUMAN,0.83,False,interacts with,ATG7_2 (interacts with) HK2,3|2|3,8,0.83,0.92,NaN

In [10]:
df_inter_huh7_ori['Prot1'] = df_inter_huh7_ori['name'].str.split(' ').str[3]
df_inter_huh7_ori['Prot2'] = df_inter_huh7_ori['name'].str.split(' ').str[0]
df_inter_huh7_ori['IsSTRING'] = "False"

df_inter_huh7 = df_inter_huh7_ori[['Prot1' , 'Prot2', 'FoldChange', 'IsSTRING']]
df_inter_huh7.head()

      Prot1   Prot2  FoldChange IsSTRING
0     NRBP1  ATG7_2       26.67    False
1  TMEM126A  ATG7_2       30.00    False
2   ARFGAP1  ATG7_2       30.00    False
3    DHRS7B  ATG7_2       26.67    False
4       HK2  ATG7_2       26.67    False

## STRING data

In [13]:
df_off = pandas.read_csv(path+ 'huh7_string_from_all_int_human.tsv', sep = "\t")
df_off.rename(columns={df_off.columns[0]: 'Prot1', df_off.columns[1]: 'Prot2'},inplace=True)
df_off = df_off[['Prot1', 'Prot2']]
df_off['IsSTRING'] = "True"
df_off.head()

     Prot1      Prot2 IsSTRING
0  ARFGAP1  GABARAPL2     True
1    ATG12  GABARAPL2     True
2    ATG12  GABARAPL1     True
3    ATG12       ATG3     True
4    ATG12    GABARAP     True

In [14]:
df_final = pandas.concat([df_inter_huh7, df_off], axis=0)
df_final

        Prot1      Prot2  FoldChange IsSTRING
0       NRBP1     ATG7_2       26.67    False
1    TMEM126A     ATG7_2       30.00    False
2     ARFGAP1     ATG7_2       30.00    False
3      DHRS7B     ATG7_2       26.67    False
4         HK2     ATG7_2       26.67    False
5        UMPS     ATG7_2       26.67    False
6          F2     ATG7_2       33.33    False
7      HSPA1A     ATG7_2        3.57    False
8      HSPBP1     ATG7_2       33.33    False
9       SFXN3     ATG7_2       36.67    False
10    FASTKD5     ATG7_2       33.33    False
11    DNAJB12     ATG7_2       43.33    False
12       ATG3     ATG7_2       40.00    False
13   SLC25A22     ATG7_2       53.33    False
14      AJUBA     ATG7_2       73.33    False
15       ATG7     ATG7_2        2.89    False
16       DPM1     ATG7_2       16.00    False
17       ATG3     ATG7_1       33.33    False
18    ARFGAP1     ATG7_1       33.33    False
19  GABARAPL1     ATG7_1       73.33    False
20  GABARAPL2     ATG7_1      203.33    False
21       ATG7     ATG7_1        3.91    False
22    GABARAP     ATG7_1      103.33    False
23      ATG12     ATG7_1       46.67    False
0     ARFGAP1  GABARAPL2         NaN     True
1       ATG12  GABARAPL2         NaN     True
2       ATG12  GABARAPL1         NaN     True
3       ATG12       ATG3         NaN     True
4       ATG12    GABARAP         NaN     True
5       ATG12       ATG7         NaN     True
6        ATG3  GABARAPL2         NaN     True
7        ATG3  GABARAPL1         NaN     True
8        ATG3       ATG7         NaN     True
9        ATG3    GABARAP         NaN     True
10       ATG7  GABARAPL2         NaN     True
11       ATG7  GABARAPL1         NaN     True
12       ATG7    GABARAP         NaN     True
13    DNAJB12     HSPBP1         NaN     True
14    DNAJB12     HSPA1A         NaN     True
15    GABARAP  GABARAPL2         NaN     True
16    GABARAP  GABARAPL1         NaN     True
17  GABARAPL1  GABARAPL2         NaN     True
18     HSPA1A     HSPBP1         NaN     True

In [19]:
df_final.to_csv(path2+'df_cytoscape_huh7.csv',sep = ",")