In [1]:
import pandas

In [4]:
df = pandas.DataFrame()

df["one"] = 1, 1, 1
df["two"] = 2, 2, 2
df["three"] = 3, 3, 3

In [7]:
df

   one  two  three
0    1    2      3
1    1    2      3
2    1    2      3

In [11]:
df[df.columns[pandas.Series(df.columns).str.startswith('t')]]

   two  three
0    2      3
1    2      3
2    2      3

In [10]:
df[df.columns.startwith('t')]

AttributeError: 'Index' object has no attribute 'startwith'

In [ ]:
df2 = df[df.columns.str.starswith('t')]